@import "tailwindcss";

@layer base {
  img {
    max-width: 100%;
    height: auto;
  }
}

/* Base font size for body, not affecting Quill toolbar and other UI elements */
body {
  font-size: 16px;
}
